In [1]:
import random
import pandas as pd
import numpy as np
import random

In [5]:
기온_1 = [];강수량_1 = [];평균운량_1 = []
기온_2 = [];강수량_2 = [];평균운량_2 = []
기온_3 = [];강수량_3 = [];평균운량_3 = []
for x in range(100):
    기온_1.append(random.randint(10, 21))
    기온_2.append(random.randint(15, 28))
    기온_3.append(random.randint(20, 33))
    강수량_1.append(random.randint(0, 5))
    강수량_2.append(random.randint(0, 25))
    강수량_3.append(random.randint(0, 15))
    평균운량_1.append(random.randint(0, 10))
    평균운량_2.append(random.randint(0, 10))
    평균운량_3.append(random.randint(0, 10))

df = pd.DataFrame({'지역1기온':기온_1,
                  '지역2기온':기온_2,
                  '지역3기온':기온_3,
                  '지역1강수량':강수량_1,
                  '지역2강수량':강수량_2,
                  '지역3강수량':강수량_3,
                  '지역1평균운량':평균운량_1,
                  '지역2평균운량':평균운량_2,
                  '지역3평균운량':평균운량_3})
df

    지역1기온  지역2기온  지역3기온  지역1강수량  지역2강수량  지역3강수량  지역1평균운량  지역2평균운량  지역3평균운량
0      17     15     29       5       7      10        8        5        4
1      11     20     22       2      19       5       10        7        0
2      18     19     25       0       5       1        2        1        4
3      15     21     21       5       8       6        8        4        6
4      16     22     33       2      13       2        8        2        2
..    ...    ...    ...     ...     ...     ...      ...      ...      ...
95     15     16     32       5      19       2        3        8        4
96     17     26     27       0       9       6        7        0        8
97     20     17     27       2      14      10        8        3        4
98     20     17     29       4      13      15        7       10        0
99     12     21     28       5       1       9        5        8       10

[100 rows x 9 columns]

In [10]:
# 지역1 재배량 63%, 지역2 재배량 21%, 지역3 재배량 16%라고 가정한다면?
final = df.copy()
final['기온의_적절한_평균'] = df['지역1기온'] * (63/100) + df['지역2기온'] * (21/100) + df['지역3기온'] * (16/100)
final['강수량의_적절한_평균'] = df['지역1강수량'] * (63/100) + df['지역2강수량'] * (21/100) + df['지역3강수량'] * (16/100)
final['평균운량의_적절한_평균'] = df['지역1평균운량'] * (63/100) + df['지역2평균운량'] * (21/100) + df['지역3평균운량'] * (16/100)
final = final.drop(['지역1기온', '지역2기온', '지역3기온', '지역1강수량', '지역2강수량', '지역3강수량', '지역1평균운량', '지역2평균운량', '지역3평균운량'], axis=1)
final

    기온의_적절한_평균  강수량의_적절한_평균  평균운량의_적절한_평균
0        18.50         6.22          6.73
1        14.65         6.05          7.77
2        19.33         1.21          2.11
3        17.22         5.79          6.84
4        19.98         4.31          5.78
..         ...          ...           ...
95       17.93         7.46          4.21
96       20.49         2.85          5.69
97       20.49         5.80          6.31
98       20.81         7.65          6.51
99       16.45         4.80          6.43

[100 rows x 3 columns]