In [1]:
import random
import pandas as pd
import numpy as np
import random

In [2]:
기온_1 = [];강수량_1 = [];평균운량_1 = []
기온_2 = [];강수량_2 = [];평균운량_2 = []
기온_3 = [];강수량_3 = [];평균운량_3 = []
for x in range(100):
    기온_1.append(random.randint(10, 21))
    기온_2.append(random.randint(15, 28))
    기온_3.append(random.randint(20, 33))
    강수량_1.append(random.randint(0, 5))
    강수량_2.append(random.randint(0, 25))
    강수량_3.append(random.randint(0, 15))
    평균운량_1.append(random.randint(0, 10))
    평균운량_2.append(random.randint(0, 10))
    평균운량_3.append(random.randint(0, 10))

df = pd.DataFrame({'지역1기온':기온_1,
                  '지역2기온':기온_2,
                  '지역3기온':기온_3,
                  '지역1강수량':강수량_1,
                  '지역2강수량':강수량_2,
                  '지역3강수량':강수량_3,
                  '지역1평균운량':평균운량_1,
                  '지역2평균운량':평균운량_2,
                  '지역3평균운량':평균운량_3})
df

    지역1기온  지역2기온  지역3기온  지역1강수량  지역2강수량  지역3강수량  지역1평균운량  지역2평균운량  지역3평균운량
0      16     20     30       4      16      14        5        3        4
1      10     21     23       4      18       1        8        5        3
2      19     17     25       5      16       3       10        9        5
3      21     24     33       2      20       1        2       10        2
4      21     20     30       3      10       4        8        7        1
..    ...    ...    ...     ...     ...     ...      ...      ...      ...
95     12     18     20       1      19      14       10        4        0
96     14     17     32       2      18       3        8        5       10
97     13     25     24       1      10      13        6        1        6
98     15     23     22       0      22       4        7        3        4
99     12     18     33       5      23       8        7        7        8

[100 rows x 9 columns]

In [3]:
# 지역1 재배량 63%, 지역2 재배량 21%, 지역3 재배량 16%라고 가정한다면?
final = df.copy()
final['기온의_적절한_평균'] = df['지역1기온'] * (63/100) + df['지역2기온'] * (21/100) + df['지역3기온'] * (16/100)
final['강수량의_적절한_평균'] = df['지역1강수량'] * (63/100) + df['지역2강수량'] * (21/100) + df['지역3강수량'] * (16/100)
final['평균운량의_적절한_평균'] = df['지역1평균운량'] * (63/100) + df['지역2평균운량'] * (21/100) + df['지역3평균운량'] * (16/100)
final = final.drop(['지역1기온', '지역2기온', '지역3기온', '지역1강수량', '지역2강수량', '지역3강수량', '지역1평균운량', '지역2평균운량', '지역3평균운량'], axis=1)
final

    기온의_적절한_평균  강수량의_적절한_평균  평균운량의_적절한_평균
0        19.08         8.12          4.42
1        14.39         6.46          6.57
2        19.54         6.99          8.99
3        23.55         5.62          3.68
4        22.23         4.63          6.67
..         ...          ...           ...
95       14.54         6.86          7.14
96       17.51         5.52          7.69
97       17.28         4.81          4.95
98       17.80         5.26          5.68
99       16.62         9.26          7.16

[100 rows x 3 columns]

In [4]:
# def : df에서의 지역1기온을 최저기온, 지역3기온을 최고기온으로 하자. 일교차 구하는 법
df['일교차'] = abs(df['지역1기온'] - df['지역3기온'])
df

,지역1기온,지역2기온,지역3기온,지역1강수량,지역2강수량,지역3강수량,지역1평균운량,지역2평균운량,지역3평균운량,일교차
0,16,20,30,4,16,14,5,3,4,14
1,10,21,23,4,18,1,8,5,3,13
2,19,17,25,5,16,3,10,9,5,6
3,21,24,33,2,20,1,2,10,2,12
4,21,20,30,3,10,4,8,7,1,9
...,...,...,...,...,...,...,...,...,...,...
95,12,18,20,1,19,14,10,4,0,8
96,14,17,32,2,18,3,8,5,10,18
97,13,25,24,1,10,13,6,1,6,11
98,15,23,22,0,22,4,7,3,4,7
99,12,18,33,5,23,8,7,7,8,21