In [1]:
from numpy import array
import pandas as pd
import numpy as np
import math
import os
from tqdm import tqdm

In [2]:
arr = os.listdir('./Desktop/농산물가격예측/public_data/train_AT_TSALET_ALL/')
print(arr)

['AT_TSALET_ALL_201807.csv', 'AT_TSALET_ALL_201608.csv', 'AT_TSALET_ALL_201609.csv', 'AT_TSALET_ALL_201806.csv', 'AT_TSALET_ALL_201812.csv', 'AT_TSALET_ALL_201804.csv', 'AT_TSALET_ALL_201810.csv', 'AT_TSALET_ALL_201811.csv', 'AT_TSALET_ALL_201805.csv', 'AT_TSALET_ALL_201801.csv', '.DS_Store', 'AT_TSALET_ALL_201802.csv', 'AT_TSALET_ALL_201803.csv', 'AT_TSALET_ALL_201904.csv', 'AT_TSALET_ALL_201910.csv', 'AT_TSALET_ALL_202001.csv', 'AT_TSALET_ALL_201911.csv', 'AT_TSALET_ALL_201905.csv', 'AT_TSALET_ALL_201907.csv', 'AT_TSALET_ALL_201708.csv', 'AT_TSALET_ALL_202003.csv', 'AT_TSALET_ALL_202002.csv', 'AT_TSALET_ALL_201709.csv', 'AT_TSALET_ALL_201906.csv', 'AT_TSALET_ALL_201912.csv', 'AT_TSALET_ALL_201902.csv', 'AT_TSALET_ALL_202006.csv', 'AT_TSALET_ALL_202007.csv', 'AT_TSALET_ALL_201903.csv', 'AT_TSALET_ALL_201901.csv', 'AT_TSALET_ALL_202005.csv', 'AT_TSALET_ALL_202004.csv', 'AT_TSALET_ALL_201702.csv', 'AT_TSALET_ALL_202009.csv', 'AT_TSALET_ALL_202008.csv', 'AT_TSALET_ALL_201703.csv', 'AT_TSALET_ALL_201701.csv', 'AT_TSALET_ALL_201710.csv', 'AT_TSALET_ALL_201704.csv', 'AT_TSALET_ALL_201705.csv', 'AT_TSALET_ALL_201711.csv', 'AT_TSALET_ALL_201908.csv', 'AT_TSALET_ALL_201707.csv', 'AT_TSALET_ALL_201712.csv', 'AT_TSALET_ALL_201706.csv', 'AT_TSALET_ALL_201909.csv', 'AT_TSALET_ALL_201601.csv', 'AT_TSALET_ALL_201602.csv', 'AT_TSALET_ALL_201603.csv', 'AT_TSALET_ALL_201808.csv', 'AT_TSALET_ALL_201607.csv', 'AT_TSALET_ALL_201612.csv', 'AT_TSALET_ALL_201606.csv', 'AT_TSALET_ALL_201809.csv', 'AT_TSALET_ALL_201610.csv', 'AT_TSALET_ALL_201604.csv', 'AT_TSALET_ALL_201605.csv', 'AT_TSALET_ALL_201611.csv']

In [3]:
filename_list = arr
filename_list_2020 = []
for filename in filename_list:
    if '2020' in filename:
        filename_list_2020.append(filename)
        
path = './Desktop/농산물가격예측/public_data/train_AT_TSALET_ALL/'
df_list = []
for filename in tqdm(filename_list_2020):
    df = pd.read_csv(path + filename)
    df_list.append(df)
    
data= pd.concat(df_list, sort= False).reset_index(drop=True)

100%|█████████████████████████████████████████████| 9/9 [00:25<00:00,  2.83s/it]

In [4]:
# 이 데이터 만든 사람의 상식 수준이 의심되는 부분 1
data['SAN_NM'] = data['SAN_NM'].str.replace('경북', '경상북도')
data['SAN_NM'] = data['SAN_NM'].str.replace('경남', '경상남도')
data['SAN_NM'] = data['SAN_NM'].str.replace('전북', '전라북도')
data['SAN_NM'] = data['SAN_NM'].str.replace('전남', '전라남도')
data['SAN_NM'] = data['SAN_NM'].str.replace('충북', '충청북도')
data['SAN_NM'] = data['SAN_NM'].str.replace('충남', '충청남도')

In [5]:
# 이 데이터 만든 사람의 상식 수준이 의심되는 부분 2
data['SAN_NM'] = data['SAN_NM'].str.replace('광주광역시', '광주')
data['SAN_NM'] = data['SAN_NM'].str.replace('부산광역시', '부산')
data['SAN_NM'] = data['SAN_NM'].str.replace('대구광역시', '대구')
data['SAN_NM'] = data['SAN_NM'].str.replace('대전광역시', '대전')
data['SAN_NM'] = data['SAN_NM'].str.replace('울산광역시', '울산')
data['SAN_NM'] = data['SAN_NM'].str.replace('인천광역시', '인천')

In [6]:
# 이 데이터 만든 사람의 상식 수준이 의심되는 부분 3
data['SAN_NM'] = data['SAN_NM'].str.replace('강원도', '강원')
data['SAN_NM'] = data['SAN_NM'].str.replace('경기도', '경기')
data['SAN_NM'] = data['SAN_NM'].str.replace('서울특별시', '서울')

In [52]:
# data.loc[data['SAN_NM'].str.contains('부산',na = True), 'SAN_NM'] = '부산'

In [7]:
# 토마토
tomato = data[(data.PUM_NM == '토마토')]
# 캠벨얼리
grapes = data[(data.KIND_NM == '캠벨얼리')]
# 샤인머스캇
shine = data[(data.KIND_NM == '샤인마스캇')]

In [53]:
# 대파
bigblue = data[(data.KIND_NM == '대파')]
# 깻잎
loveleaf = data[(data.KIND_NM == '깻잎')]

# QTY가 물량이라고 하길래 SAN_NM 같은 것끼리 QTY 합 구한다면?(아닐 가능성이 높아서 주석 처리)

In [27]:
# Creator = []
# for x in tomato.SAN_NM.unique():
#     Creator.append([x, tomato[tomato['SAN_NM'] == x]['QTY'].sum()])
# Creator.sort(key=lambda x:-x[1])

# Base = 0;y = 0
# while Base < (tomato['QTY'].sum() * 0.8):
#     Base += Creator[y][1]
#     y += 1
# print(Creator[:y])

[['부산 강서구', 2485919.0], ['전라남도 화순군', 781430.0], ['경상북도 경주시', 694654.0], ['부산', 682226.0], ['전라북도 장수군', 666171.0], ['강원 춘천시', 605052.0], ['강원 철원군', 523137.0], ['경상남도 김해시', 485813.0], ['부산 중구', 480120.0], ['경상남도 창녕군', 424112.0], ['경기 구리시', 377303.0], ['전라남도 보성군', 338383.0], ['대구', 333192.0], ['경상남도 진주시', 325286.0], ['서울', 302828.0], ['강원 인제군', 260337.0], ['전라북도 진안군', 251692.0], ['경상북도 군위군', 245620.0], ['충청남도 부여군', 218029.0], ['대구 달성군', 215473.0], ['경상남도 함안군', 209992.0], ['강원 평창군', 199592.0], ['강원 횡성군', 190451.0], ['전라남도 고흥군', 177920.0], ['경상남도 창원시', 171884.0], ['경상남도 합천군', 159018.0], ['충청남도 논산시', 158962.0], ['경상남도 밀양시', 150456.0], ['경상남도 고성군', 147233.0], ['강원 홍천군', 144924.0], ['전라남도 광양시', 140577.0], ['강원 화천군', 137293.0], ['강원 양구군', 125027.0], ['강원', 124644.0], ['경상북도 고령군', 121243.0], ['강원 영월군', 118062.0], ['경상남도 사천시', 110195.0], ['전라남도 순천시', 101386.0], ['충청남도 공주시', 100794.0], ['강원 정선군', 98312.0]]

In [35]:
# Base / (tomato['QTY'].sum())

0.8028949211336536

In [50]:
# a = 0;b = 0;c = 0;d = 0;e = 0;f = 0;g = 0;h = 0;j = 0;k = 0
# for i in range(40):
#     if '부산' in Creator[i][0]:
#         a += Creator[i][1]
#     elif '전라남도' in Creator[i][0]:
#         b += Creator[i][1]
#     elif '전라북도' in Creator[i][0]:
#         c += Creator[i][1]
#     elif '경상남도' in Creator[i][0]:
#         d += Creator[i][1]
#     elif '경상북도' in Creator[i][0]:
#         e += Creator[i][1]
#     elif '충청남도' in Creator[i][0]:
#         f += Creator[i][1]
#     elif '충청북도' in Creator[i][0]:
#         g += Creator[i][1]
#     elif '강원' in Creator[i][0]:
#         h += Creator[i][1]
#     elif '경기' in Creator[i][0]:
#         j += Creator[i][1]
#     else:
#         k += Creator[i][1]
# print(a)
# print(b)
# print(c)
# print(d)
# print(e)
# print(f)
# print(g)
# print(h)
# print(j)
# print(k)

3648265.0
1539696.0
917863.0
2183989.0
1061517.0
477785.0
0
2526831.0
377303.0
851493.0

In [41]:
# '장' in '강원 평창군'

False

# 현재 진행 중

토마토 지역 재배 비율 proof(1141003의 80%는 912802)

In [73]:
# 토마토 proof(1141003의 80%는 912802)
i = 1
while sum(tomato.SAN_NM.value_counts()[:i]) < (1141003 * 0.8):
    i += 1
tomato.SAN_NM.value_counts()[:i]

부산             290228
전라북도 장수군        49367
경상북도 경주시        47507
강원 철원군          42965
경상남도 김해시        34038
강원 춘천시          31938
경상남도 창녕군        25002
대구              22115
경상남도 진주시        21762
전라남도 광양시        19226
경기 구리시          18295
강원 횡성군          15402
전라남도 화순군        15142
강원 영월군          15024
서울              14133
경상북도 군위군        14075
대구 달성군          13890
경상남도 창원시        12683
강원 인제군          11360
전라북도 진안군        11353
경상북도 고령군        11288
경상남도 함안군        11227
경상북도 포항시 북구     10830
경상남도 밀양시        10662
전라남도 순천시        10045
광주 북구            9946
강원               9587
강원 정선군           9514
전라남도 보성군         9480
충청남도 부여군         9006
경상북도 예천군         8986
경상북도 포항시         8887
전라남도 여수시         8740
전라북도 무주군         8525
전라남도 담양군         8083
전라남도 고흥군         7978
경상북도 포항시 남구      7358
강원 평창군           7356
강원 양구군           7216
전라남도 장성군         7104
강원 홍천군           7051
Name: SAN_NM, dtype: int64

In [83]:
# 전라북도 : [장수] - 진안 - 무주 결합
# 경상북도 : [경주] - 포항 - 군위 - 예천 - 고령 결합
# 강원도 : 철원 - [춘천] - 홍천 - 인제 - 양구 - 평창 - 영월 - 정선 - 횡성 결합
# 경상남도 : 김해 - [창원] - 창녕 - 진주 - 함안 - 밀양 결합
# 대구 달성군 : 대구와 결합
# 전라남도 : [광주] - 화순 - 담양 - 장성 - 광양 - 순천 - 여수 - 고흥 결합
a = 290228
b = 34038 + 25002 + 21762 + 12683 + 11227 + 10662 + 22115 + 13890
c = 7356 + 7126 + 9514 + 7051 + 42965 + 31938 + 15402 + 15024 + 11360
d = 47507 + 14075 + 11288 + 10830 + 8887 + 7358 + 8986
e = 19226 + 15142 + 10045 + 9480 + 8740 + 8083 + 7978 + 7216 + 9946
f = 49367 + 11353 + 8525
Fin = a + b + c + d + e + f
print('전국에 대한 비율 : ', Fin / 1141003)
print('부산 : ', 290228)
print('경남 창원(+김해,창녕,진주,함안,밀양,대구) : ', 34038 + 25002 + 21762 + 12683 + 11227 + 10662 + 22115 + 13890)
print('강원도 춘천(+철원,홍천,인제,양구,평창,영월,정선,횡성) : ', 7356 + 7126 + 9514 + 7051 + 42965 + 31938 + 15402 + 15024 + 11360)
print('경북 경주(+포항,군위,예천,고령) : ', 47507 + 14075 + 11288 + 10830 + 8887 + 7358 + 8986)
print('광주(+화순,담양,장성,광양,순천,여수,고흥) : ', 19226 + 15142 + 10045 + 9480 + 8740 + 8083 + 7978 + 7216 + 9946)
print('전북 장수(+진안,무주) : ', 49367 + 11353 + 8525)
print('--------------------------------------------------')
print('부산 비율 : ', a / Fin)
print('경남 창원 비율 : ', b / Fin)
print('강원도 춘천 비율 : ', c / Fin)
print('경북 경주 비율 : ', d / Fin)
print('광주 비율 : ', e / Fin)
print('전북 장수 비율 : ', f / Fin)

전국에 대한 비율 :  0.7566807449235453
부산 :  290228
경남 창원(+김해,창녕,진주,함안,밀양,대구) :  151379
강원도 춘천(+철원,홍천,인제,양구,평창,영월,정선,횡성) :  147736
경북 경주(+포항,군위,예천,고령) :  108931
광주(+화순,담양,장성,광양,순천,여수,고흥) :  95856
전북 장수(+진안,무주) :  69245
--------------------------------------------------
부산 비율 :  0.3361552048646301
경남 창원 비율 :  0.17533400897640075
강원도 춘천 비율 :  0.17111452149992762
경북 경주 비율 :  0.12616881424641668
광주 비율 :  0.11102475749239901
전북 장수 비율 :  0.08020269292022586

캠벨얼리 지역 재배 비율 proof(226613의 80%는 181290)

In [65]:
i = 1
while sum(grapes.SAN_NM.value_counts()[:i]) < (226613 * 0.8):
    i += 1
grapes.SAN_NM.value_counts()[:i]

전라북도 남원시      44692
경상북도 상주시      33618
경기 화성시        25694
충청북도 영동군      19957
경상북도 김천시      14586
경상남도 거창군       8916
경기 안산시         7069
충청북도 옥천군       6449
전라북도 김제시       5322
경기 구리시         4915
경상북도 경산시       4314
경상북도 영천시       4178
경기 안산시 단원구     4024
Name: SAN_NM, dtype: int64

In [80]:
# 경상북도 :  영천 - 경산 - 김천 - 상주 결합
# 경기도 : 화성 - 안산 결합, 안산시 단원구는 안산으로 결합
# 충청북도 : 영동 - 옥천 결합
# 전라북도 : 남원 - 김제 결합
a = 33618 + 14586 + 4314 + 4178
b = 44692 + 5322
c = 25694 + 7069 + 4024
d = 19957 + 6449
e = 8916
Fin = a + b + c + d + e
print('전국에 대한 비율 : ', Fin / 226613)
print('경북 김천(+경산,영천,상주) : ', 33618 + 14586 + 4314 + 4178)
print('전북 남원(+김제) : ', 44692 + 5322)
print('경기도 화성시(+안산) : ', 25694 + 7069 + 4024)
print('충북 영동(+옥천) : ', 19957 + 6449)
print('경남 거창 : ', 8916)
print('--------------------------------------------------')
print('경북 김천 비율 : ', a / Fin)
print('전북 남원 비율 : ', b / Fin)
print('경기도 화성시 비율 : ', c / Fin)
print('충북 영동 비율 : ', d / Fin)
print('경남 거창 비율 : ', e / Fin)

전국에 대한 비율 :  0.7890941825932316
경북 김천(+경산,영천,상주) :  56696
전북 남원(+김제) :  50014
경기도 화성시(+안산) :  36787
충북 영동(+옥천) :  26406
경남 거창 :  8916
--------------------------------------------------
경북 김천 비율 :  0.3170580307461735
전북 남원 비율 :  0.27969063690100043
경기도 화성시 비율 :  0.20572198703717168
충북 영동 비율 :  0.14766887187603106
경남 거창 비율 :  0.049860473439623305

샤인머스캇 지역 재배 비율 proof(93206의 90%는 83885)

In [56]:
i = 1
while sum(shine.SAN_NM.value_counts()[:i]) < (93206 * 0.8):
    i += 1
shine.SAN_NM.value_counts()[:i]

경상북도 김천시    44365
경상북도 영천시    11237
경상북도 상주시     7383
충청북도 영동군     4746
경상북도 경산시     4212
대구 북구        3252
경상북도         2842
충청남도 논산시     1404
충청북도 옥천군     1237
경상남도 거창군      955
전라남도 장성군      891
충청남도 천안시      883
경상북도 성주군      839
Name: SAN_NM, dtype: int64

In [59]:
# 경상북도 : 영천 - 경산 결합, 김천 - 상주 결합
# 충청북도 : 영동 - 옥천 결합
a = 44365 + 7383 + 2842
b = 11237 + 4212
c = 4746 + 1237
Fin = a + b + c
print('전국에 대한 비율 : ', Fin / 93206)
print('경북 김천(+상주,걍 경상북도) : ', 44365 + 7383 + 2842)
print('경북 영천(+경산) : ', 11237 + 4212)
print('충북 영동(+옥천) : ', 4746 + 1237)
print('--------------------------------------------------')
print('경북 김천 비율 : ', a / Fin)
print('경북 영천 비율 : ', b / Fin)
print('충북 영동 비율 : ', c / Fin)

전국에 대한 비율 :  0.815634186640345
경북 김천(+상주, 걍 경상북도) :  54590
경북 영천(+경산) :  15449
충북 영동(+옥천) :  5983
--------------------------------------------------
경북 김천 비율 :  0.7180816079555918
경북 영천 비율 :  0.2032174896740417
충북 영동 비율 :  0.07870090237036648

대파 지역 재배 비율 proof(4537의 90%는 4083)

In [69]:
i = 1
while sum(bigblue.SAN_NM.value_counts()[:i]) < (4537 * 0.9):
    i += 1
bigblue.SAN_NM.value_counts()[:i]

충청남도 천안시 동남구    1256
전라남도 진도군         766
충청북도 충주시         738
충청남도 예산군         595
충청남도 아산시         566
전라남도 해남군         154
전라북도 완주군          87
Name: SAN_NM, dtype: int64

In [75]:
# 충청남도 : 천안 - 예산 - 아산 결합
# 전라남도 : 진도 - 해남 결합
a = 1256 + 595 + 596
b = 766 + 154
c = 738
Fin = a + b + c
print('전국에 대한 비율 : ', Fin / 4537)
print('충남 천안(+예산,아산) : ', 1256 + 595 + 596)
print('전남 해남(+진도) : ', 766 + 152)
print('충북 충주 : ', 738)
print('--------------------------------------------------')
print('충남 천안 비율 : ', a / Fin)
print('전남 해남 비율 : ', b / Fin)
print('충북 충주 비율 : ', c / Fin)

전국에 대한 비율 :  0.9047828961869077
충남 천안(+예산,아산) :  2447
전남 해남(+진도) :  918
충북 충주 :  738
--------------------------------------------------
충남 천안 비율 :  0.5961023142509135
전남 해남 비율 :  0.2241169305724726
충북 충주 비율 :  0.17978075517661388

깻잎 지역 재배 비율 proof(70227의 90%는 63204)

In [73]:
i = 1
while sum(loveleaf.SAN_NM.value_counts()[:i]) < (70227 * 0.9):
    i += 1
loveleaf.SAN_NM.value_counts()[:i]

충청남도 금산군    33021
경상남도 밀양시    30845
Name: SAN_NM, dtype: int64

In [74]:
# 개꿀
a = 33021
b = 30845
Fin = a + b
print('전국에 대한 비율 : ', Fin / 70227)
print('충남 금산 : ', 33021)
print('경남 밀양 : ', 30845)
print('--------------------------------------------------')
print('충남 금산 비율 : ', a / Fin)
print('경남 밀양 비율 : ', b / Fin)

전국에 대한 비율 :  0.9094223019636323
충남 금산 :  33021
경남 밀양 :  30845
--------------------------------------------------
충남 금산 비율 :  0.517035668430777
경남 밀양 비율 :  0.4829643315692231