In [1]:
import pandas as pd
import numpy as np

In [4]:
토마토 = pd.read_csv('토마토수출입.csv', encoding='cp949')
포도 = pd.read_csv('포도수출입.csv', encoding='cp949')

In [58]:
포도

    2016   합 1,103,238.9  5,387,753.0  64,664,166.5 175,454,117.0
0   2016  01     8,205.1     22,573.0   3,656,023.0  10,540,076.0
1   2016  02     1,137.4      3,914.0   4,606,327.0  15,021,662.0
2   2016  03     4,895.4     10,867.0   8,918,301.1  28,202,656.0
3   2016  04     7,483.7     35,152.0  24,096,139.2  66,441,943.0
4   2016  05     3,607.4     12,673.0   2,207,499.7   4,647,817.0
..   ...  ..         ...          ...           ...           ...
58  2020  07   100,427.7  1,547,635.0   2,143,456.3   5,597,047.0
59  2020  08   166,842.0  2,412,557.0   2,594,562.7   7,626,152.0
60  2020  09   424,123.2  4,453,062.0   4,970,207.1  15,647,429.0
61  2020  10   272,352.7  4,147,770.0   6,196,738.0  18,622,204.0
62  2020  11   383,897.9  6,466,796.0   5,119,945.3  15,217,397.0

[63 rows x 6 columns]

In [59]:
포도.columns = ['연도','월','수출(중량)','수출(금액)','수입(중량)','수입(금액)']

In [60]:
포도

      연도   월     수출(중량)       수출(금액)        수입(중량)        수입(금액)
0   2016  01    8,205.1     22,573.0   3,656,023.0  10,540,076.0
1   2016  02    1,137.4      3,914.0   4,606,327.0  15,021,662.0
2   2016  03    4,895.4     10,867.0   8,918,301.1  28,202,656.0
3   2016  04    7,483.7     35,152.0  24,096,139.2  66,441,943.0
4   2016  05    3,607.4     12,673.0   2,207,499.7   4,647,817.0
..   ...  ..        ...          ...           ...           ...
58  2020  07  100,427.7  1,547,635.0   2,143,456.3   5,597,047.0
59  2020  08  166,842.0  2,412,557.0   2,594,562.7   7,626,152.0
60  2020  09  424,123.2  4,453,062.0   4,970,207.1  15,647,429.0
61  2020  10  272,352.7  4,147,770.0   6,196,738.0  18,622,204.0
62  2020  11  383,897.9  6,466,796.0   5,119,945.3  15,217,397.0

[63 rows x 6 columns]

In [61]:
중간단계 = 포도.drop(포도[포도['월'] == '합'].index)

In [62]:
중간단계 = 중간단계.reset_index(drop=True)

In [63]:
중간단계

      연도   월     수출(중량)       수출(금액)        수입(중량)        수입(금액)
0   2016  01    8,205.1     22,573.0   3,656,023.0  10,540,076.0
1   2016  02    1,137.4      3,914.0   4,606,327.0  15,021,662.0
2   2016  03    4,895.4     10,867.0   8,918,301.1  28,202,656.0
3   2016  04    7,483.7     35,152.0  24,096,139.2  66,441,943.0
4   2016  05    3,607.4     12,673.0   2,207,499.7   4,647,817.0
5   2016  06   24,755.4    179,712.0   1,814,994.7   3,702,747.0
6   2016  07   70,816.2    387,631.0   2,311,139.0   4,798,434.0
7   2016  08  278,227.9  1,192,846.0   3,199,281.0   6,811,699.0
8   2016  09  465,680.5  2,135,570.0   2,029,768.3   4,528,027.0
9   2016  10  180,349.9  1,039,332.0   3,622,108.1   9,460,125.0
10  2016  11   49,126.2    315,907.0   5,875,311.4  15,471,566.0
11  2016  12    8,953.9     51,576.0   2,327,274.2   5,827,365.0
12  2017  01    1,535.9      5,576.0   3,537,982.3   9,834,461.0
13  2017  02   16,940.4     53,883.0   8,469,012.1  26,877,120.0
14  2017  03   20,951.7     37,062.0  18,343,011.0  51,528,684.0
15  2017  04   18,517.7     34,907.0  13,005,238.0  31,049,986.0
16  2017  05   32,610.4     96,786.0   3,024,503.4   6,238,645.0
17  2017  06   56,715.6    396,809.0   2,009,285.1   4,099,687.0
18  2017  07  103,124.0    645,054.0   2,297,698.4   5,405,455.0
19  2017  08  164,734.0  1,089,802.0   2,492,392.5   5,687,731.0
20  2017  09  587,963.0  3,155,978.0   2,962,398.9   7,545,740.0
21  2017  10  246,075.2  1,588,889.0   3,772,201.8  10,162,738.0
22  2017  11  103,994.3  1,007,152.0   5,723,800.1  15,087,954.0
23  2017  12   66,393.4    759,731.0   3,764,713.5  11,396,169.0
24  2018  01   15,722.4    122,723.0   4,557,160.8  14,618,547.0
25  2018  02    2,888.1     15,142.0   5,174,994.5  16,524,908.0
26  2018  03   11,047.3     24,072.0  11,677,550.6  34,140,606.0
27  2018  04   15,356.6     39,837.0  15,892,959.4  43,023,437.0
28  2018  05   44,818.1    193,912.0   6,830,466.0  16,442,961.0
29  2018  06   47,640.4    437,686.0   1,746,155.0   4,322,705.0
30  2018  07  124,055.1  1,412,670.0   1,619,737.6   4,618,517.0
31  2018  08  182,069.2  1,690,768.0   2,239,305.6   6,578,746.0
32  2018  09  439,117.6  3,193,973.0   3,844,338.8  10,399,449.0
33  2018  10  220,292.4  2,501,172.0   6,225,166.2  16,505,492.0
34  2018  11  217,500.1  3,046,571.0   8,941,020.0  23,275,489.0
35  2018  12  103,628.9  1,632,938.0   7,389,375.6  19,593,620.0
36  2019  01   13,377.7    149,346.0   5,544,270.5  15,650,218.0
37  2019  02    9,416.5     31,079.0   5,381,531.3  15,511,480.0
38  2019  03    5,308.7     15,829.0  12,965,736.7  37,695,003.0
39  2019  04   27,997.4     76,976.0  25,312,316.4  69,716,270.0
40  2019  05   17,040.5    139,344.0   7,987,560.4  20,417,372.0
41  2019  06   74,437.3    738,334.0   1,956,821.6   4,364,763.0
42  2019  07   91,458.0  1,231,471.0   2,000,971.9   5,446,128.0
43  2019  08  278,403.0  2,557,826.0   3,194,980.9   8,388,109.0
44  2019  09  452,092.2  3,782,422.0   2,567,921.6   7,035,962.0
45  2019  10  388,058.0  4,300,224.0   6,474,448.9  17,698,976.0
46  2019  11  340,991.9  5,439,968.0   7,467,154.5  22,569,401.0
47  2019  12  313,554.2  5,061,723.0   5,007,742.3  14,779,675.0
48  2020  01  256,259.0  4,473,698.0   3,728,606.5  10,882,491.0
49  2020  02   35,216.4    242,160.0   5,191,200.8  16,640,109.0
50  2020  03   16,288.4     88,782.0  12,299,363.9  37,532,098.0
51  2020  04    6,511.0     30,372.0  18,784,993.7  58,006,404.0
52  2020  05   11,775.6    111,707.0   3,924,412.4  10,577,892.0
53  2020  06   40,557.7    589,835.0   1,341,218.1   2,913,191.0
54  2020  07  100,427.7  1,547,635.0   2,143,456.3   5,597,047.0
55  2020  08  166,842.0  2,412,557.0   2,594,562.7   7,626,152.0
56  2020  09  424,123.2  4,453,062.0   4,970,207.1  15,647,429.0
57  2020  10  272,352.7  4,147,770.0   6,196,738.0  18,622,204.0
58  2020  11  383,897.9  6,466,796.0   5,119,945.3  15,217,397.0

In [64]:
for x in range(59):
    중간단계['연도'].iloc[x] = int(중간단계['연도'].iloc[x])
    중간단계['월'].iloc[x] = int(중간단계['월'].iloc[x])
    중간단계['수출(중량)'].iloc[x] = float(중간단계['수출(중량)'].iloc[x].replace(',', ''))
    중간단계['수출(금액)'].iloc[x] = float(중간단계['수출(금액)'].iloc[x].replace(',', ''))
    중간단계['수입(중량)'].iloc[x] = float(중간단계['수입(중량)'].iloc[x].replace(',', ''))
    중간단계['수입(금액)'].iloc[x] = float(중간단계['수입(금액)'].iloc[x].replace(',', ''))

/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['연도'].iloc[x] = int(중간단계['연도'].iloc[x])
/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['월'].iloc[x] = int(중간단계['월'].iloc[x])
/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['수출(중량)'].iloc[x] = float(중간단계['수출(중량)'].iloc[x].replace(',', ''))
/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['수출(금액)'].iloc[x] = float(중간단계['수출(금액)'].iloc[x].replace(',', ''))
/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['수입(중량)'].iloc[x] = float(중간단계['수입(중량)'].iloc[x].replace(',', ''))
/var/folders/c4/d406q2cs0jx8y9m35w0pn47w0000gn/T/ipykernel_26650/1639919130.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  중간단계['수입(금액)'].iloc[x] = float(중간단계['수입(금액)'].iloc[x].replace(',', ''))

In [65]:
중간단계

      연도   월    수출(중량)     수출(금액)      수입(중량)      수입(금액)
0   2016   1    8205.1    22573.0   3656023.0  10540076.0
1   2016   2    1137.4     3914.0   4606327.0  15021662.0
2   2016   3    4895.4    10867.0   8918301.1  28202656.0
3   2016   4    7483.7    35152.0  24096139.2  66441943.0
4   2016   5    3607.4    12673.0   2207499.7   4647817.0
5   2016   6   24755.4   179712.0   1814994.7   3702747.0
6   2016   7   70816.2   387631.0   2311139.0   4798434.0
7   2016   8  278227.9  1192846.0   3199281.0   6811699.0
8   2016   9  465680.5  2135570.0   2029768.3   4528027.0
9   2016  10  180349.9  1039332.0   3622108.1   9460125.0
10  2016  11   49126.2   315907.0   5875311.4  15471566.0
11  2016  12    8953.9    51576.0   2327274.2   5827365.0
12  2017   1    1535.9     5576.0   3537982.3   9834461.0
13  2017   2   16940.4    53883.0   8469012.1  26877120.0
14  2017   3   20951.7    37062.0  18343011.0  51528684.0
15  2017   4   18517.7    34907.0  13005238.0  31049986.0
16  2017   5   32610.4    96786.0   3024503.4   6238645.0
17  2017   6   56715.6   396809.0   2009285.1   4099687.0
18  2017   7  103124.0   645054.0   2297698.4   5405455.0
19  2017   8  164734.0  1089802.0   2492392.5   5687731.0
20  2017   9  587963.0  3155978.0   2962398.9   7545740.0
21  2017  10  246075.2  1588889.0   3772201.8  10162738.0
22  2017  11  103994.3  1007152.0   5723800.1  15087954.0
23  2017  12   66393.4   759731.0   3764713.5  11396169.0
24  2018   1   15722.4   122723.0   4557160.8  14618547.0
25  2018   2    2888.1    15142.0   5174994.5  16524908.0
26  2018   3   11047.3    24072.0  11677550.6  34140606.0
27  2018   4   15356.6    39837.0  15892959.4  43023437.0
28  2018   5   44818.1   193912.0   6830466.0  16442961.0
29  2018   6   47640.4   437686.0   1746155.0   4322705.0
30  2018   7  124055.1  1412670.0   1619737.6   4618517.0
31  2018   8  182069.2  1690768.0   2239305.6   6578746.0
32  2018   9  439117.6  3193973.0   3844338.8  10399449.0
33  2018  10  220292.4  2501172.0   6225166.2  16505492.0
34  2018  11  217500.1  3046571.0   8941020.0  23275489.0
35  2018  12  103628.9  1632938.0   7389375.6  19593620.0
36  2019   1   13377.7   149346.0   5544270.5  15650218.0
37  2019   2    9416.5    31079.0   5381531.3  15511480.0
38  2019   3    5308.7    15829.0  12965736.7  37695003.0
39  2019   4   27997.4    76976.0  25312316.4  69716270.0
40  2019   5   17040.5   139344.0   7987560.4  20417372.0
41  2019   6   74437.3   738334.0   1956821.6   4364763.0
42  2019   7   91458.0  1231471.0   2000971.9   5446128.0
43  2019   8  278403.0  2557826.0   3194980.9   8388109.0
44  2019   9  452092.2  3782422.0   2567921.6   7035962.0
45  2019  10  388058.0  4300224.0   6474448.9  17698976.0
46  2019  11  340991.9  5439968.0   7467154.5  22569401.0
47  2019  12  313554.2  5061723.0   5007742.3  14779675.0
48  2020   1  256259.0  4473698.0   3728606.5  10882491.0
49  2020   2   35216.4   242160.0   5191200.8  16640109.0
50  2020   3   16288.4    88782.0  12299363.9  37532098.0
51  2020   4    6511.0    30372.0  18784993.7  58006404.0
52  2020   5   11775.6   111707.0   3924412.4  10577892.0
53  2020   6   40557.7   589835.0   1341218.1   2913191.0
54  2020   7  100427.7  1547635.0   2143456.3   5597047.0
55  2020   8  166842.0  2412557.0   2594562.7   7626152.0
56  2020   9  424123.2  4453062.0   4970207.1  15647429.0
57  2020  10  272352.7  4147770.0   6196738.0  18622204.0
58  2020  11  383897.9  6466796.0   5119945.3  15217397.0

In [66]:
A = [];B = [];C = [];D = []
for x in range(59):
    if (x == 1) | (x == 49):
        for i in range(29):
            A.append(중간단계['수출(중량)'].iloc[x] / 29)
            B.append(중간단계['수출(금액)'].iloc[x] / 29)
            C.append(중간단계['수입(중량)'].iloc[x] / 29)
            D.append(중간단계['수입(금액)'].iloc[x] / 29)
    elif x in [13, 25, 37]:
        for i in range(28):
            A.append(중간단계['수출(중량)'].iloc[x] / 28)
            B.append(중간단계['수출(금액)'].iloc[x] / 28)
            C.append(중간단계['수입(중량)'].iloc[x] / 28)
            D.append(중간단계['수입(금액)'].iloc[x] / 28)
    elif x in [3,5,8,10, 15,17,20,22, 27,29,32,34, 39,41,44,46, 51,53,56]:
        for i in range(30):
            A.append(중간단계['수출(중량)'].iloc[x] / 30)
            B.append(중간단계['수출(금액)'].iloc[x] / 30)
            C.append(중간단계['수입(중량)'].iloc[x] / 30)
            D.append(중간단계['수입(금액)'].iloc[x] / 30)
    elif x == 58:
        for i in range(5):
            A.append(중간단계['수출(중량)'].iloc[x] / 30)
            B.append(중간단계['수출(금액)'].iloc[x] / 30)
            C.append(중간단계['수입(중량)'].iloc[x] / 30)
            D.append(중간단계['수입(금액)'].iloc[x] / 30)
    else:
        for i in range(31):
            A.append(중간단계['수출(중량)'].iloc[x] / 31)
            B.append(중간단계['수출(금액)'].iloc[x] / 31)
            C.append(중간단계['수입(중량)'].iloc[x] / 31)
            D.append(중간단계['수입(금액)'].iloc[x] / 31)

In [67]:
테스트 = pd.DataFrame({'수출(중량)':A,
                    '수출(금액)':B,
                    '수입(중량)':C,
                    '수입(금액)':D})
테스트

            수출(중량)         수출(금액)         수입(중량)         수입(금액)
0       264.680645     728.161290  117936.225806  340002.451613
1       264.680645     728.161290  117936.225806  340002.451613
2       264.680645     728.161290  117936.225806  340002.451613
3       264.680645     728.161290  117936.225806  340002.451613
4       264.680645     728.161290  117936.225806  340002.451613
...            ...            ...            ...            ...
1766  12796.596667  215559.866667  170664.843333  507246.566667
1767  12796.596667  215559.866667  170664.843333  507246.566667
1768  12796.596667  215559.866667  170664.843333  507246.566667
1769  12796.596667  215559.866667  170664.843333  507246.566667
1770  12796.596667  215559.866667  170664.843333  507246.566667

[1771 rows x 4 columns]

In [68]:
테스트.to_csv("포도_수출입.csv", encoding='utf-8-sig')